[submodule "allgermans"]
	path = allgermans
	url = https://github.com/void4/allgermans
[submodule "selfdestruct"]
	path = selfdestruct
	url = https://github.com/void4/selfdestruct
[submodule "webjump"]
	path = webjump
	url = https://github.com/void4/webjump
[submodule "pointofnoreturn"]
	path = pointofnoreturn
	url = https://github.com/void4/pointofnoreturn
